source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget FSharp.Core
nuget Microsoft.Azure.Functions.Worker.Extensions.Http
nuget Microsoft.Azure.Functions.Worker.Extensions.Storage
nuget Microsoft.Azure.Functions.Worker.Sdk
nuget Microsoft.Azure.Functions.Worker
nuget YamlDotNet
nuget Azure.Storage.Blobs

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
